.table-admin {
  width: 100%;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.thead-table-admin {
  display: inline-block;
  padding-left: 3.66vw;
}
.table-admin-img-padding {
  padding-left: 15px;
}

.table-admin thead tr td {
  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #4d4d4d;
  height: 11.197916666666668vh;
}
.table-admin {
  border-collapse: separate;
  border-spacing: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f2f2f2;
  border: 1px solid #cccccc;

  thead tr {
    height: 100px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #4d4d4d;
    height: 11.197916666666668vh;
    th {
      border-bottom: 1px solid #cccccc;
      height: 11.197916666666668vh;
      text-align: start;
    }
  }
}
.table-admin thead tr th:first-child {
  padding-left: 50px;
}
.table-admin thead tr td {
  border-bottom: 1px solid #cccccc;
  height: 11.197916666666668vh;
}
.table-admin tbody tr td {
  border-bottom: 1px solid #cccccc;
  font-family: "Mulish";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #4f4f4f;
  background-color: white;
  height: 80px;
}
.aditar-picker-img {
  margin-left: 20px;
}
.table-admin .no-result {
  position: relative;
  background: #f2f2f2;
  border: 1px solid #ccc;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100px;
  margin-bottom: 20px;
  font-family: "Mulish";
  font-style: normal;
  padding-top: 35px;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  color: #828282;
}
.table-admin tbody tr td:first-child {
  width: 17.66vw;
  padding-left: 50px;
}
.table-admin thead tr td:nth-child(1) {
  width: 3.66vw;
  padding-left: 50px;
}
.table-admin thead tr td:nth-child(2) {
  width: 10.321vw;
}
.table-admin tbody tr td:nth-child(1) {
  white-space: pre;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: 16.603vw;
  padding-right: 0.5vw;
}
.table-admin tbody tr td:nth-child(3) {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: 16.603vw;
  padding-right: 0.5vw;
}
.table-admin thead tr td:nth-child(3) {
  max-width: 18.603vw;
}


.table-admin tbody tr td:nth-child(4) {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: 18.603vw;
  padding-right: 0.5vw;
  width: 10vw;
}
.table-admin tbody tr td:nth-child(6) {
  width: 78px;
}
.table-admin thead tr td:nth-child(6) {
  width: 78px;
}

.table-info {
  text-align: center;
  background: #ffffff;
  border: 1px solid #cccccc;
  font-family: "Mulish";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #666666;
  height: 100px;
  text-align: start;
}
#color-state-red {
  color: #ff1515;
  font-weight: 700;
}
#color-state-green {
  color: #27ae60;
  font-weight: 700;
}
.admin-table-correction {
  display: inline-block;
  font-family: "Mulish";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.004em;
  color: #ff1515;
  background: rgba(255, 21, 21, 0.1);
  border: 1px solid #ff1515;
  box-sizing: border-box;
  border-radius: 5px;
  height: 29px;
  padding-left: 0.5vw;
  width: 99.72px;
  padding-top: 6px;
}
