nav{
    list-style:none;    
}
.navAdmin{
    border-right: 1px solid #145A99;
    border-top: 1px solid #145A99;
    border-radius: 0px 20px 0px 0px;
    padding-top: 42px;
    padding-left: 4vh;
    padding-right: 2vh;
    height: 86.3vh;
    width:220px;
    background-color: #FFFFFF;
    position: fixed;
    margin-top: 7.291666666666667vh
   
}
.tamScroll{
    height: 79vh;
}
.navAdmin ul{
    padding-right: 2vh;
}
.unclickable{
    pointer-events: none;
}

.navAdmin ul li{
        margin-bottom: 1vh;
        margin-left: 1rem;
        list-style: none;
}
.navAdmin ul li a{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 200%;
    color: #101820;
    text-decoration: none;
    
}
.navAdmin ul h3{
        font-family: 'Mulish';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #2D2D2D;
}
/*
.scroll{
    overflow-y: scroll;
    padding-right: 20px;
    
}
.scroll::-webkit-scrollbar {
    width: 8px;     
    height: 8px;
}
.scroll::-webkit-scrollbar-thumb {
    background: #BDBDBD;
    width: 7px;     
    height: 7px;
   
}
.scroll::-webkit-scrollbar-thumb:hover {
    background: #BDBDBD;
    width: 7px;     
    height: 7px;
}
.scroll::-webkit-scrollbar-thumb:active {
    background-color: #BDBDBD;
    width: 7px;     
    height: 7px;
}
.scroll::-webkit-scrollbar-track {
    background: #F1F1F1;
    border-radius: 4px;
}
*/
.circle{
    height: 7px;
    width: 7px;
    left: 4.5vw;
    margin-top: 1.6vh; 
    border-radius: 3px;
    background-color: #145A99;
    position: absolute;
}


@media (min-width:1800px){
    .navAdmin{
        height: 90vh;
    }
    .circle{
        left: 3.94vw;
        margin-top: 1vh; 
    }
}
@media (max-width:1300px){
    .circle{
        left: 4.6vw;
    }
    .navAdmin{
        width: 165px;
    }
}
@media (max-width:500px){

    .navAdmin{
        width: 95%;
    }
    .circle{
        left: 11.6vw;
    }
}

@media (max-width:1000px){

    .navAdmin{
        position: static;
        width: 97%;
        height: 200px;
        border: 1px solid #145A99;
        margin-left: 20px;
        padding: 0;
        margin-right: 20px;
    }
    .circle{
        left:9.6vw;
    }
}





